@color:#de3059;
.width {
  width:33.33%;
}

.backgroundfoot {
  background-color: white;
}

.picogram-image {
  width:100%;
}
html {
  background: url("https://s-media-cache-ak0.pinimg.com/736x/43/54/83/4354832231a052d3f785f5c4a1eb2ff4--dark-grey-curtains-dark-grey-couches.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
// **************************** NAVIGATION ********************************//
.fa {

  color:white;

}

ul {
list-style-type: none;
position:fixed;
top:0;
right:0;
margin-top:50px;
margin-right:30px;
}
a {
text-decoration: none;
color:white;
font-size:16px;
}
li {

  text-transform:uppercase;
  color:white;
  display:inline;
  padding:5px;
  margin-right: 10px;
}
#lired {

  background-color: @color;
  padding:15px;
  border-radius: 30px;
}
li a:hover {
color:green;
}

// *************************** MAIN ************************************//
main {
margin-top:0px;
height:300px;
background-color: transparent;
}

#firsth1 {

  color:white;
  font-size:72px;
  text-align: center;
  margin-Top:250px;
  background-color: transparent;
}
#firstp{

  color:white;
  text-align:center;
  font-size:20px;
}
button {

  width:10%;
  padding:20px 0 20px 0;
  text-transform: uppercase;
  background-color: @color;
  color:white;
  border:2px;
  margin-left:45%;
  margin-right:45%;
  margin-top:10px;

  border-radius:5px;

}
button:hover {
  background-color: green;

}
// ************************ FOOTER ************************************//
footer {
  margin-top: 100px;
  clear: both;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  background-color: white;
  padding-top: 20px;
}

footer h1 {
text-align: center;

}
footer p{
text-align: center;
padding:20px;
}
footer h3 {
font-size: 24px;
}
.footdiv{
  margin-top: -22px;
  .width;
  float:left;
  .backgroundfoot;
  text-align:center;
}
.footicons{
  margin-top: 50px;
  font-size: 4em;
}
#responsive {
.footdiv;
}
#responsive .fa-sliders {
  color:@color;
.footicons;
}
#quality {
.footdiv;
}
#quality .fa-list {
  color:blue;
.footicons;
}
#support {
.footdiv;
}
#quality .fa-bars {
  color:green;
.footicons;
}

#form{
  margin-top: 50px;
  background-color: white;
}
.form1{
width:33.33%;
float:left;
background-color: white;
text-align: center;
}
.form2{
  width:33.33%;
  float:left;
  background-color: white;
  text-align: center;
}
.form3 {
  width:33.33%;
  float:right;
  background-color: white;
  text-align: center;
}
.form3 label, .form2 label, .form1 label{
display:block;
}
#checkapp1, #checkapp2, #checkapp3{
  display:block;
}
h2{
  margin-top: 120px;
  text-align:center;
  color:white;
}
#webcheck{
  color:white;
  display:block;
  margin-top:100px;
  text-align: center;
}
.btn1, .btn2, .btn3 {
  margin-bottom: 20px;

}
img {
  width:100%;
  height:400px;

}
.setuph1 {
text-align: center;
color:white;
}
.req {
  font-size: 16px;
  color:white;

}
